html, body{
    height:100%;
}          
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.fill{
    height:100%;
    width: 100%;
    background-position:center;
    background-size:cover;
}
.img-home-portfolio{
    margin-bottom: 30px;
}
#adduser{
    float: right;
}
#bottom{
    width: 100%;
}

#perfil{
    float: right;
}

.listTitle
{
    color: #CEECF5;
    background-color: #0B4C5F;
}

.listItem
{
    color: #0B4C5F;
    background-color: white;
}

.imgMarco {
    display: inline-block;
    width:auto;
    height:auto;
    max-width: 200px;
    max-height: 200px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: #044c93 !important;
    border: none !important;
    padding: 7px !important;
}

.perfDiv
{
    margin-top: 1em;
    /*    background-color: #CEECF5;*/
}

.treeSelectedDiv
{
    height: 42px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}

h2.altaprod-title, h2.perfil-title, #us h3, h3.prod-title{
    background: #044c93;
    border-radius: 6px;
    color: #ffffff;
    font-size: 22px;
    margin: 60px auto 20px;
    max-width: 40%;
    padding: 10px;
    text-align: center;
}
#productos .caption h5, #productosEncontrados .caption h5 {
    background: #044c93;
    border-radius: 4px;
    color: #ffffff;
    padding: 7px 5px;
    text-align: center;
    width: 170px;
}
#productos .caption h6, #productosEncontrados ,caption h6 {
    text-align: center;
}
.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
    margin: 20px;
}

body {
    margin: 0;
    background: url('../img/white-background2.jpg');
    background-size: 100% 100%;
    background-repeat:repeat;
    display: compact;
    font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-header {
    background: url('../img/logodm.png') no-repeat -15px 0;
    color: #FFF;
    text-indent: -999em;
    width: 310px;
}
.navbar-header:hover {
    background: url('../img/logodm2.gif') no-repeat -15px 0;
}
.navbar-header .navbar-brand {
    width: 310px;
    height: 60px;
    padding: 10px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
    padding-top: 10px;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #0387d0 !important;
}
#bottom {
    background: #03476d;
    bottom: 0;
    color: #fff;
    height: 60px;
    line-height: 37px;
    padding: 15px 20px;
    position: fixed;
    z-index: 1030;
}
.container-fluid,
.perfDiv {
    margin-bottom: 60px !important;

}
p.footer-left {
    float: left;
}
p.footer-right {
    float: right;
    padding-right: 40px;
}
p.footer-right img {
    margin: -7px 0 0 15px;
}
#us, .tab-content {
    background: transparent url("../img/form-bg.png") repeat 0 0;
    margin-bottom: 70px;
    padding-bottom: 10px;
}
#formComentario, #formReclamo {
    background: #fff;
    padding-bottom: 20px;
}
#formReclamo {
    padding: 10px 10px 20px;
}
.form-group.newcomment {
    margin: 0 10px;
}
.form-group.newcomment #btnGuardar.btn {
    margin-top: 10px;
}
.tab-content {
    padding: 10px;
}
.altaprod-navbar {
    margin-bottom: -8px;
}
.nav-tabs > li > a {
    background: #ffffff;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    font-weight: bold;
}
.altaprod-progress {
    margin-bottom: 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
#formProducto tab-content .h3 {
    margin-bottom: 15px;
    margin-top: 10px;
}
.fileinput-new .fileinput-preview.thumbnail {
    background: url("../img/click-img.png") no-repeat scroll center 13px #fff;
}
#bottom, .navbar-inverse {
    background: #044c93;
    background: -moz-linear-gradient(top, #044c93 0%, #03476d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#044c93), color-stop(100%,#03476d));
    background: -webkit-linear-gradient(top, #044c93 0%,#03476d 100%);
    background: -o-linear-gradient(top, #044c93 0%,#03476d 100%);
    background: -ms-linear-gradient(top, #044c93 0%,#03476d 100%);
    background: linear-gradient(to bottom, #044c93 0%,#03476d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#044c93', endColorstr='#03476d',GradientType=0 );
    border:none !important;
}
.panel-body, .panel-default {
    background: transparent url("../img/form-bg.png") repeat 0 0 !important;
}
.panel-default > .panel-heading, .listTitle {
    background-color: #044c93 !important;
    color: #fff !important;
    font-size: 13px;
    font-weight: bold;
}
.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.3) 100%);
}
.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0px, rgba(0, 0, 0, 0) 100%);
}
.carousel-inner > .active {
    padding: 10px 20px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img, .fileinput .thumbnail > img {
    line-height: 1;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/* hardcoded styles */
.carousel-inner > .active img{
    max-height: 96%;
    max-width: 96%;
}
.comment-node {
    background: #fff;
}
.carousel-indicators {
    bottom: 0;
}
.carousel-indicators .active {
    background-color: #044c93;
}
.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #044c93;
}
.prod-panel-thumb {
    padding: 7px;
}
.prod-panel-thumb img {
    margin-top: 0 !important;
    max-height: 95%;
    max-width: 95%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.prod-panel-thumb img:hover {
    opacity: 0.5;
}
#treecom {
    width: 56%;
    text-align: justify;
    margin: 20px auto 0;
}
.jstree-wholerow-ul {
    width: 98%;
}
.jstree-default li {
    width: 97%;
}

.comment-node {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px dotted #044c93;
    margin: 0 0 20px;
    padding: 0 0 15px;
}
.comment-node > strong {
    color: #03476d;
    font-size: 14px;
}
/* jstree */
.treeDiv .jstree-disabled, .treeDiv .jstree-node.jstree-leaf .jstree-anchor {
    border-radius: 4px;
    color: #666;
    height: 26px !important;
    margin-bottom: 7px;
    padding: 1px 4px;
}
.treeDiv .jstree-disabled {
    background: none repeat scroll 0 0 #eee !important;
    border: 1px solid #999;
}
.treeDiv .jstree-node.jstree-leaf .jstree-anchor {
    background: none repeat scroll 0 0 #87b7e6 !important;
    border: 1px solid #044c93;
    color: #333 !important;
}
.treeDiv .jstree-closed .jstree-themeicon,
.treeDiv ul li ul li.jstree-closed .jstree-themeicon {
    background: url("../img/plus.png") no-repeat scroll 5px 5px rgba(0, 0, 0, 0) !important;
}
.treeDiv .jstree-open .jstree-themeicon {
    background: url("../img/minus.png") no-repeat scroll 5px 5px rgba(0, 0, 0, 0) !important;
}
.treeDiv .jstree-ocl {
    background: none !important;
    margin-right: -26px !important;
    position: relative;
    z-index: 9999;
}
.treeDiv ul li ul li.jstree-leaf .jstree-themeicon, 
.treeDiv ul li.jstree-leaf .jstree-themeicon {
    background: url("../img/tick.png") no-repeat scroll 5px 6px rgba(0, 0, 0, 0) !important;
}
.treeDiv .jstree-disabled:hover {
    background: none repeat scroll 0 0 #ddd !important;
}
.treeDiv .jstree-node.jstree-leaf .jstree-anchor:hover {
    background: none repeat scroll 0 0 #cde2f7 !important;
    border: 1px solid #044c93;
}
.treeDiv .jstree-node.jstree-leaf .jstree-anchor.jstree-clicked {
    background: none repeat scroll 0 0 #7cc57c !important;
    border: 1px solid #194b19;
    color: #194b19 !important;
}
/* Top Buscador */
#buscador .input-group {
    float: left;
    width: 100%;
}
#buscador input {
    width: 90%;
}
#buscador .btn-default {
    border: none !important;
}
#buscador .input-group button {
    float: left;
    margin-left: -1px;
    margin-top: -2px;
    padding: 0;
    line-height: 1.31857 !important;
}
#productosEncontrados {
    margin: 28px auto 70px;
    width: 80%;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    #buscador .input-group button {
        margin-top: -1px;
        max-width: 39px;
        max-height: 36px;
    } 
    #formUsuario .btn.btn-success {
        margin-top: -4%;
    }
    .prod-panel-thumb img {
        left: 31%;
        position: absolute;
        top: 20%;
        transform: translateY(-25%);
    }
}
#formUsuario .btn.btn-success {
    float: right;
    margin-top: 1%;
}
#formUsuario .center-block, #formProducto .center-block {
    text-align: center;
}
.col-perfil {
    width: 49%;
}
.treeReclamos .jstree-children strong {
    color: #000;
}
.treeReclamos .producto-reclamo strong {
    font-size: 16px;
}
.treeReclamos .jstree-anchor {
    width: 96%;
}
.treeReclamos {
    width: 96% !important;
    padding: 1em;
}
.list-group-item > form#formMailing {
    text-align: center;
}
#divMailing {
    text-align: right;
}